body {
    font-family: Lucida,sans-serif;
    color: #eee;
    background-color: #D8C358;
}

#content {
    color: #25271E;
    background-color: #eee;
    padding: 1em;
    margin: 1em;
    padding-top: 0.5em;
}

a {
    color: #6D0839;
}

h1,h3 {
    color: #6D0839;
}

footer {
    border-top: 1px solid #6D0839;
    margin-top: 2em;
    padding-top: 1em;
    font-size: 10px;
    color: #6D0839;
}

pre {
    font-family: \"lucida console\",\"monaco\",\"andale mono\",\"bitstream vera sans mono\",\"consolas\",monospace;
}

